* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    width: 100%;
    height: 100vh;
    background-image:url(../imagens/background2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mirza', cursive;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    width: 85%;
    background-color: rgba(219, 218, 218, 0.493);
    border-radius: 20px;
    -webkit-text-stroke: 0.5px black;
    margin-top: 30px;
    padding: 15px;
}

ul {
    list-style-type: none;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    color: #38093E;
}

.options {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 0.2em;
    text-align: center;
    margin-bottom: 2rem;
    color: #38093E;
}

button {
    border: none;
    width: 30%;
    background: #fff;
    font-size: 1.5rem;
    color: #38093E;
    border-radius: 10px;
    padding: 0.2em;
    justify-content: center;
    font-family: 'Mirza', cursive;
    transition: .2s linear;
    text-transform: uppercase;
}

button:hover {
    background: #ffd000;
    color: black;
    transform: scale(1.1);
}

@media(max-width:1300px) {
    main {
        width: 40%;
    }
}

@media(max-width:1000px) {
    main {
        width: 60%;
        margin-right: 3.2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .options {
        font-size: 1rem;
    }

    .click {
        font-size: 1rem;
    }
}

@media(max-width:600px) {
    main {
        width: 80%;
        margin-right: 3.2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .options {
        font-size: 1rem;
    }

    .click {
        font-size: 1rem;
    }
}

@media(max-width:500px) {
    body {
        justify-content: center;
    }

    main {
        width: 80%;
    }


    h2 {
        font-size: 1.2rem;
    }

    .options {
        font-size: 1rem;
    }

    .click {
        font-size: 1rem;
    }
}